<footer class="footer" style="position:relative; bottom:0; right:0; left:0">
	<div class="container-fluid">
		<nav class="pull-left">
			<ul class="nav">
				<li class="nav-item">
					<a class="nav-link" href="/Home/MainPage">
						Ana Sayfa
					</a>
				</li>		
				<li class="nav-item">
					<a class="nav-link" href="/RestaurantTable/TablesRealtime">
						Masa Durumları
					</a>
				</li>
			</ul>
		</nav>
		<div class="copyright ml-auto">
			@DateTime.Now.Year made with <i class="la la-heart heart text-danger"></i> @* by  <a href="http://www.themekita.com">ThemeKita</a> *@
		</div>
	</div>
</footer>