@model CreateRestaurantTableDtoUI

@{
    ViewData["Title"] = "CreateRestaurantTable";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<div class="row">
    <div class="col-md-12">

        <form method="post" asp-controller="RestaurantTable" asp-action="CreateRestaurantTable">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Masa Ekleme</div>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label asp-for="TableName">Masa Adı</label>
                        <input type="text" class="form-control" asp-for="TableName">
                    </div>

                    <div class="form-check">
                        <label>Masa Durumu</label><br>
                        <label class="form-radio-label">
                            <input class="form-radio-input" type="radio" asp-for="Status" value="true" checked="">
                            <span class="form-radio-sign">Dolu</span>
                        </label>
                        <label class="form-radio-label ml-3">
                            <input class="form-radio-input" type="radio" asp-for="Status" value="false">
                            <span class="form-radio-sign">Boş</span>
                        </label>
                    </div>

                    

                </div>
                <div class="card-action">
                    <button class="btn btn-success" type="submit">Ekle</button>
                    <a class="btn btn-danger" asp-controller="RestaurantTable" asp-action="Index">Geri</a>
                </div>
            </div>
        </form>
    </div>

</div>


