@model UpdateContactDtoUI

@{
    ViewData["Title"] = "UpdateContact";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}



<div class="row">
    <div class="col-md-12">

        <form method="post" asp-controller="Contact" asp-action="UpdateContact">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">İletişim Bilgisi Güncelleme</div>
                </div>
                <div class="card-body">
                    
                    <input type="hidden" asp-for="ContactId"/>

                    <div class="form-group">
                        <label asp-for="Location">Lokasyon</label>
                        <input type="text" class="form-control" asp-for="Location">
                    </div>
                    <div class="form-group">
                        <label asp-for="Phone">Tel No</label>
                        <input type="text" class="form-control" asp-for="Phone">
                    </div>
                    <div class="form-group">
                        <label asp-for="Email">Email</label>
                        <input type="email" class="form-control" asp-for="Email">
                    </div>


                </div>
                <div class="card-action">
                    <button class="btn btn-success" type="submit">Güncelle</button>
                    <a class="btn btn-danger" asp-controller="Contact" asp-action="Index">Geri</a>
                </div>
            </div>
        </form>
    </div>

</div>





