@model UpdateBookingDtoUI

@{
    ViewData["Title"] = "UpdateBooking";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="row">
    <div class="col-md-12">

        <form method="post" asp-controller="Booking" asp-action="UpdateBooking">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Rezervasyon Bilgisi Güncelleme</div>
                </div>
                <div class="card-body">
                    <input type="hidden" asp-for="BookingId" />

                    <div class="form-group">
                        <label asp-for="CustomerName">Müşteri Adı</label>
                        <input type="text" class="form-control" asp-for="CustomerName">
                    </div>
                    <div class="form-group">
                        <label asp-for="Phone">Tel No</label>
                        <input type="text" class="form-control" asp-for="Phone">
                    </div>
                    <div class="form-group">
                        <label asp-for="Email">Email</label>
                        <input type="text" class="form-control" asp-for="Email">
                    </div>

                    <div class="form-group">
                        <label asp-for="numberOfCustomers">Kişi Sayısı</label>
                        <input type="text" class="form-control" asp-for="numberOfCustomers">
                    </div>
                    <div class="form-group">
                        <label asp-for="BookingDate">Tarih</label>
                        <input type="date" class="form-control" asp-for="BookingDate">
                    </div>

                </div>
                <div class="card-action">
                    <button class="btn btn-success" type="submit">Güncelle</button>
                    <a class="btn btn-danger" asp-controller="Booking" asp-action="Index">Geri</a>
                </div>
            </div>
        </form>
    </div>

</div>



