@model UpdateNotificationDtoUI

@{
    ViewData["Title"] = "UpdateNotification";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="row">
    <div class="col-md-12">

        <form method="post" asp-controller="Notification" asp-action="UpdateNotification">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Bildirim Güncelleme</div>
                </div>
                <div class="card-body">

                    <input type="hidden" asp-for="NotificationId" />


              @*       <div class="form-group">
                        <label asp-for="Type">Bildirim Türü</label>
                        <input type="text" class="form-control" asp-for="Type">
                    </div> *@

                    <div class="form-group">
                        <select class="form-control input-fixed" asp-for="Type">
                            <option value="primary" class="bg-primary text-white"> Mavi </option>
                            <option value="info" class="bg-info text-white">Turkuvaz</option>
                            <option value="success" class="bg-success text-white">Yeşil</option>
                            <option value="warning" class="bg-warning text-white">Sarı</option>
                            <option value="danger" class="bg-danger text-white">Kırmızı</option>
                        </select>
                    </div>




                    <div class="form-group">
                        <label asp-for="Description">Açıklama</label>
                        <input type="text" class="form-control" asp-for="Description">
                    </div>

                    <div class="form-group">
                        <label asp-for="Date">Tarih</label>
                        <input type="text" class="form-control" value="@Model.Date.ToString("dd MMMM yyyy - hh:mm")" disabled>
                    </div>

                    <input type="hidden" asp-for="Date" />


                    <div class="form-check">
                        <label>Okunma Durumu</label><br>
                        <label class="form-radio-label">
                            <input class="form-radio-input" type="radio" asp-for="IsRead" value="true"  >
                            <span class="form-radio-sign">Okundu</span>
                        </label>
                        <label class="form-radio-label ml-3">
                            <input class="form-radio-input" type="radio" asp-for="IsRead" value="false">
                            <span class="form-radio-sign">Okunmadı</span>
                        </label>
                    </div>


                </div>
                <div class="card-action">
                    <button class="btn btn-warning" type="submit">Güncelle</button>
                    <a class="btn btn-danger" asp-controller="Notification" asp-action="Index">Geri</a>
                </div>
            </div>
        </form>
    </div>

</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script>
    // DOM yüklendikten sonra işlemleri gerçekleştir
    $(document).ready(function () {
        // ASP.NET Core tarafından doldurulan Date alanı
        let dateValue = "@Model.Date.ToString("yyyy-MM-DD")"; // Model.Date ASP.NET Core tarafından doldurulan bir değer

        // moment.js kullanarak tarihi istenen formata dönüştür
        let formattedDate = moment(dateValue).format('YYYY-MM-DD');

        // Input elementinin değerini formatlanmış tarihle güncelle
        $('#dateInput').val(formattedDate);
    });
</script>
