@model CreateTestimonialDtoUI

@{
    ViewData["Title"] = "CreateTestimonial";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}



<div class="row">
    <div class="col-md-12">

        <form method="post" asp-controller="Testimonial" asp-action="CreateTestimonial" enctype="multipart/form-data">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Rezervasyon Bilgisi Ekleme</div>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label asp-for="WriterName">Müşteri Adı</label>
                        <input type="text" class="form-control" asp-for="WriterName">
                    </div>
                    <div class="form-group">
                        <label asp-for="Title">Başlık</label>
                        <input type="text" class="form-control" asp-for="Title">
                    </div>
                    <div class="form-group">
                        <label asp-for="Comment">Yorum</label>
                        <input type="text" class="form-control" asp-for="Comment">
                    </div>

              
                    <div class="form-group">
                        <label asp-for="ImgFile">Müşteri Fotosu</label>
                        <input type="file" class="form-control" asp-for="ImgFile">
                    </div>
            

                    <div class="form-check">
                        <label>Durum</label><br>
                        <label class="form-radio-label">
                            <input class="form-radio-input" type="radio" asp-for="Status" value="true" >
                            <span class="form-radio-sign">Görünsün</span>
                        </label>
                        <label class="form-radio-label ml-3">
                            <input class="form-radio-input" type="radio" asp-for="Status" value="false">
                            <span class="form-radio-sign">Görünmesin</span>
                        </label>
                    </div>



                </div>
                <div class="card-action">
                    <button class="btn btn-success" type="submit">Ekle</button>
                    <a class="btn btn-danger" asp-controller="Testimonial" asp-action="Index">Geri</a>
                </div>
            </div>
        </form>
    </div>

</div>

